name: CI

on:
  push:
    paths:
      - ".github/workflows/ci.yaml"
      - ".config/nextest.toml"
      - "src/**"
      - "tests/**"
      - "Cargo.toml"
      - "Cargo.lock"
  pull_request: {}

env:
  RUSTFLAGS: -D warnings
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Lint
    strategy:
      matrix:
        runner:
          - "ubuntu-22.04"
          - "ubuntu-24.04"
    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Lint (clippy)
        run: cargo clippy --all --all-features

      - name: Lint (rustfmt)
        run: cargo fmt --all --check

  build:
    name: Build and Test
    strategy:
      matrix:
        rust-version:
          - stable
          - beta
        runner:
          - "ubuntu-22.04"
          - "ubuntu-24.04"
    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust-version }}

      - uses: taiki-e/install-action@nextest

      - name: Install aptly
        run: |
          sudo mkdir -p /etc/apt/keyrings
          sudo chmod 755 /etc/apt/keyrings
          sudo wget -O /etc/apt/keyrings/aptly.asc https://www.aptly.info/pubkey.txt
          CODENAME=$(lsb_release -cs)
          echo "deb [signed-by=/etc/apt/keyrings/aptly.asc] http://repo.aptly.info/release ${CODENAME} main" | sudo tee /etc/apt/sources.list.d/aptly.list
          sudo apt-get update
          sudo apt-get install -y aptly

      - name: Run tests
        run: RUST_BACKTRACE=1 cargo nextest run --workspace --no-fail-fast --all-features
